.colorButton{
    background-color: #17A2B8;
    color: white;
    border-color: #17A2B8
}
.colorButton:hover{
    background-color: #138496;
    color: white;
    border-color: #138496;
}
.colorButtonBorder{
    color: #17A2B8 !important;
    border-color: #17A2B8 !important;
}

.colorButtonBorder:hover{
    color: #16857F !important;
    border-color: #17A2B8 !important;
    background-color: #17A2B8 !important;
}

.bg-submission{
    background-color: #FDF7E2;

}

.small-btn{
    width: 200px;
}

.mandatory{
    z-index: 0 ;
    position: relative;
}
body{
    overflow-x: hidden; 
    width: 100%;
  }

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }