<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 animate__animated animate__fadeInDown">
  <div class="container">

    <a class="navbar-brand btn btn-outline-info text-info" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {%- for link in site.conference.navigation.links -%}
          {%- if link.menu %}
            <li class="nav-item dropdown mx-4 ">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown{{ forloop.index0 }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ link.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbar-dropdown{{ forloop.index0 }}">
                <a class="dropdown-item" href="http://mqt2019.org"> mqt2019 </a>
              </div>
            </li>

          {%- else %}
            <li class="nav-item {% if page.url contains link.relative_url %}active{% endif %}">
              {%- assign link_styleclass = "nav-link mx-4 btn btn-outline-info text-info" -%}
              {%- include partials/get_link.html -%}
              {{ link_tag }}
                {{ link.name }}
              </a>
            </li>
          {%- endif -%}
        {%- endfor %}
      </ul>
    </div>

  </div>
</nav>