<video autoplay muted loop>
  <source src="../assets/patagonia.mp4" type="video/mp4">
</video>

{% include partials/header.html %}

<div class="col">
  <div class="col my-5 bg-light">
    <!-- Jumbotron -->
    <div class="text-start p-4">
      <div class="d-flex justify-content-center align-items-end">
        <h1>2nd Workshop on Molecular Quantum Technology MQT 2022 </h1>
      </div>
      <h3 class="mx-1">December 12-16, 2022. Puerto Natales, Chile.</h3>

      <div class="mt-4">
        <p class="mb-3">
          MQT 2022 is an in-person workshop that will bring together scientists across disciplines to discuss
          fundamental science and applications where molecules and molecular materials could contribute to the field of
          quantum technology in novel ways, as well as closely related topics.
        </p>

        <p>
          The first edition of the workshop was held in 2019 <a href="http://mqt2019.org">(http://mqt2019.org)</a>,
          attracting a very engaging group of renowned scientists and early career researchers across physics, chemistry and materials science, 
          with a common interest in this emerging area of interdisciplinary quantum science.
        </p>

        <div class="mt-5">
          <h2>Workshop Venue</h2>
          <ul class="ul-dots">
            <li>MQT2022 will be held at the <a href="https://www.hotelcostaustralis.com/en">Hotel Costaustralis</a>,
              located in the beautiful city of Puerto Natales, in the Chilean Patagonia. The hotel is only a short trip from <a href="https://www.parquetorresdelpaine.cl">Torres del Paine National Park</a> </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="row d-flex justify-content-center p-2">
        <div class="container my-2">
          <h2>Important Dates:</h2>
          <ul class="ul-dots">
            <li>Contributed abstract submissions will be received until <b>August 30, 2022.</b> Please follow the submission instructions in the link below.</li>
            <li class="my-2">Registration is required for all participants. Please register by <b>October 21, 2022</b>, using the link below.</li>
          </ul>
        </div>
      </div>
      <div class="row text-center d-flex justify-content-center align-items-center">
        <div class="container mb-3">
          <a href="../abstract-submission.html" class="btn btn-info btn-lg my-1 mx-3">Abstract Submission</a>
          <a href="../registration.html" class="btn btn-info btn-lg my-1">Register Here</a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col d-flex justify-content-start align-items-start">
          <h2 class="px-4">Sponsors</h2>
        </div>
      </div>
      <hr class="m-0 p-0">
  
      <div class="row d-flex justify-content-end">
        <div class="col">
          <img src="../assets/LogotipoMilenio_alta_sinfondo-03.png" class="float-center" alt="...">
        </div>
        <div class="col">
          <img src="../assets/miro-logo-nobackground.png" class="float-center" alt="...">
        </div>
        <div class="col py-3">
          <img src="../assets/anid_rojo_azul-3.png" class="float-center" alt="...">
        </div>
    </div>
  </div>
    <!-- Para modificar el contenido de esta página, ver el archivo index.md -->
  </div>
</div>