<video autoplay muted loop>
  <source src="../assets/patagonia.mp4" type="video/mp4">
</video>

{% include partials/header.html %}
<div class="container">
  <div class="viewport-header mb-5 ">
    <!-- Jumbotron -->
    <div class="p-5 text-dark jumbotronCustom">
      <div class="text-center">
        <div class="d-flex justify-content-center align-items-end">
          <h1>2nd Workshop on Molecular Quantum Technology (MQT) </h1>
          <h3 class="mx-1">December 12-16, 2022. Puerto Natales, Chile.</h3>
        </div>

        <div class="mt-4">
          <h5 class="mb-3">
            MQT 2022 in-person workshop that will bring together leading scientists across disciplines to discuss
            fundamental
            science and applications in which molecules and molecular materials can contribute to the development of
            quantum
            technology in novel ways, as well as closely related topics.
          </h5>

          <h5>
            The first edition of this workshop was held in 2019 <a href="http://mqt2019.org">(http://mqt2019.org)</a>,
            attracting a very engaging group of
            renowned scientists and early career researchers across physics, chemistry and materials science sharing a
            common
            interest in this emerging area of interdisciplinary quantum research.
          </h5>
        </div>
      </div>

      <div class="container mt-4">
        <h2 class="px-4">Important Dates:</h2>
        <ul>
          <li>Abstract Submission Deadline: <b>August 10th, 2022</b></li>
          <li>Registration Deadline: <b>November 10th, 2022</b></li>
        </ul>
      </div>

      <div class="container">
        <button type="button" class="btn btn-info btn-lg">Abstract Submission</button>
        <button type="button" class="btn btn-info btn-lg">Registration</button>
      </div>
    </div>
  </div>

  <div class="my-5 opacity-1">
    <h1>NONE</h1>
    <h1>NONE</h1>
    <h1>NONE</h1>
    <h1>NONE</h1>
    <h1>NONE</h1>
    <h1>NONE</h1>
    <h1>NONE</h1>
    <h1>NONE</h1>
  </div>


  <!-- FOOTER -->
  <div class="jumbotron mb-0 mt-5 py-2">
    <div class="container text-start">
      <h2 class="px-4">Workshop topics:</h2>
      <ul>
        <li>Cavity quantum electrodynamics with molecules</li>
        <li>Molecular plasmonics and nanophotonics</li>
        <li>Molecular spin qubits</li>
        <li>Cold molecule physics and chemistry</li>
        <li>Quantum control and engineering</li>
        <li>Quantum effects in biological systems</li>
      </ul>
    </div>

    <div class="text-center">
      <div class="row">
        <div class="col">
          <img src="../assets/LogotipoMilenio_alta_sinfondo-03.png" class="rounded float-center" alt="...">
        </div>
        <div class="col">
          <img src="../assets/miro-logo-nobackground.png" class="rounded float-center" alt="...">
        </div>
        <div class="col">
          <img src="../assets/anid_rojo_azul-3.png" class="rounded float-center" alt="...">
        </div>
      </div>
    </div>
    <!-- Para modificar el contenido de esta página, ver el archivo index.md -->
  </div>
</div>