{% include partials/header.html %}

  {% assign this_room = page %}

  <h1 class="display-5 mb-3">
    Workshop Venue
  </h1>


  {% if site.conference.location.map %}
  <div id="map" class="mt-4 mb-3"></div>
  <script>
    var map = L.map('map').setView([-51.72833076229202, -72.51352817319757], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoiYmFzdGlhZ2dlciIsImEiOiJjbDBpYXZueHEwMHZsM2JtaTRlb3J1NnExIn0.XJgcgiW6BD0XgFbWhSJQbw'
  }).addTo(map);
  var marker = L.marker([-51.72833076229202, -72.51352817319757]).addTo(map);
</script>
  {% endif %}
<p>MQT2022 will be held at the <a href="https://www.hotelcostaustralis.com/en">Hotel Costaustralis</a>,
  located in the beautiful city of Puerto Natales, in the Chilean Patagonia. The hotel is only a short trip from <b>Torres del Paine National Park</b>. 
  Puerto Natales is a busy tourist destination in December, and accommodation at Hotel Costaustralis during the workshop week 
  (including adjacent weekends) may not be available. Participants are advised to make reservations in any of the many lodges, cabins, 
  hotels and hostals in the Puerto Natales area. Suggested alternative hotels include:
</p>

<ul class="ul-dots">
  <li><a href="http://www.altiplanico.cl/en/altiplanico-hotel-puerto-natales/">Hotel Altiplanico Sur</a></li>
  <li><a href="https://remotahotel.com">Hotel Remota</a></li>
  <li> <a href="https://www.noihotels.com">Indigo Patagonia Hotel</a></li>
  <li> <a href="https://www.thesingular.com">The Singular Patagonia</a></li>
  <li> <a href="https://hostelamerindia.com">Amerindia Hostel</a></li>
</ul>
<p>More room options can be found on TripAdvisor or Booking.com. Feel free to contact felipe.herrera.u@usach.cl if you need help with your booking.</p>

<h1>Flight Information</h1>
<div class="row mb-5">
  <ul class="ul-dots">
    <li>Direct flights <b>Santiago – Puerto Natales</b> are available a few times per week via <b>JetSmart, Sky Airlines</b> and <b>Latam Airlines</b>.</li>
    <li>Daily direct flights <b>Santiago – Punta Arenas</b> are available also via <b>JetSmart, Sky Airlines</b> and <b>Latam Airlines</b>.
      Car rentals are available at the airport in Punta Arenas. The organizers can also arrange for van transportation to the workshop site. This scenic road trip takes about 3 hours.</li>
  </ul>
</div>
{% include partials/footer.html %}
