{% include partials/header.html %}


<!-- <div class="text-center">
  <a type="button" style="background-color: #A9D9E3;" class="btn btn-outline-info btn-lg text-dark" href="../assets/abstracts.pdf" download>Download Book of Abstracts</a>
</div> -->

<main class="container border border-3 my-5 bg-white mandatory">
  
  <h1>Week Schedule </h1>
  
  <div class="row my-5 p-5">
            <img src="../assets/MQT 2024 week.png" class="float-center" alt="week schedule">  
  </div>
</main>

<div class="row text-center d-flex justify-content-center align-items-center">
  <div class="container mb-3">
    <a href="../assets/BoA MQT2024.pdf" target="_blank" class="btn btn-info btn-lg my-1 mx-3">Download Book of Abstracts</a>
  </div>
</div> 


<h1>Day Schedule </h1>
<p>
  Expand the daily schedule by clicking the buttons below. 
</p>

<div class="container pt-5">
  <div class="col ">
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseMonday" role="button" aria-expanded="false" aria-controls="collapseMonday">
        <h1>Monday <small>16</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseMonday"> 
      <ul>
        <li class="mb-3">
          <b>08:30 - 09:00</b> 
          <div class="d-flex justify-content-start">

            <a >
              <h5>MQT Opening</h5>
            </a>

          </div> 
        </li>
        
        <li class="mb-3">
          <b>09:00 - 09:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/ericbittner/" class="text-info">
              <h5>A quantum analog of Huygens’s clock: noise-induced spontaneous synchronization</h5>
            </a>
            <a href="../speakers/ericbittner/" class="text-dark mx-3">
              <h5>Eric Bittner</h5>
            </a>
          </div> 
        </li>
        
        <li class="mb-3"></li>
        <b>09:40 - 10:00</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/josebaldovi/" class="text-info">
              <h5>Towards molecular controlled magnonics</h5>
            </a>
            <a href="../speakers/josebaldovi/" class="text-dark mx-3">
              <h5>José J. Baldoví</h5>
            </a>
          </div> 
        </li>

        <li class="mb-3"></li>
        <b>10:00 - 10:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/yamilcolon/" class="text-info">
              <h5>Entangled Photon Generation with Metal-Organic Frameworks</h5>
            </a>
            <a href="../speakers/yamilcolon/" class="text-dark mx-3">
              <h5>Yamil J. Colón</h5>
            </a>
          </div> 
        </li>

        <li class="mb-3">
          <b>10:40 - 11:20</b> 
          <h5>Coffee Break</h5> 
        </li>
          

        <li class="mb-3"></li>
        <b>11:20 - 12:00</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/rosariogonzalez/" class="text-info">
              <h5>Polyatomic ultralong-range Rydberg molecules: Electronic structure and Rydberg blockade</h5>
            </a>
            <a href="../speakers/rosariogonzalez/" class="text-dark mx-3">
              <h5>Rosario González-Férez</h5>
            </a>
          </div> 
        </li>

        <li class="mb-3"></li>
        <b>12:00 - 12:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/johannesschachenmayer/" class="text-info">
              <h5>Advancing phase space and matrix product state methods for cavity-coupled molecules</h5>
            </a>
            <a href="../speakers/johannesschachenmayer/" class="text-dark mx-3">
              <h5>Johannes Schachenmayer</h5>
            </a>
          </div> 
        </li>

        <li class="mb-3">
          <b>12:40 - 14:00</b> 
          <h5>Lunch Break</h5> 
        </li>
          
        <li class="mb-3"></li>
        <b>14:00 - 14:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/timurshegai/" class="text-info">
              <h5>Strong light-matter coupling: from self-hybridized polaritons to Casimir self-assembly</h5>
            </a>
            <a href="../speakers/timurshegai/" class="text-dark mx-3">
              <h5>Timur Shegai</h5>
            </a>
          </div> 
        </li>
    
        
        <li class="mb-3"></li>
        <b>14:40 - 15:00</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/ignaciochi/" class="text-info">
              <h5>Multiplexing Quantum Biosensing with DNA-Functionalized Diamond Surfaces</h5>
            </a>
            <a href="../speakers/ignaciochi/" class="text-dark mx-3">
              <h5>Ignacio Chi-Durán</h5>
            </a>
          </div> 
        </li>
        
        <li class="mb-3"></li>
        <b>15:00 - 15:20</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/alexeybelyanin/" class="text-info">
              <h5>Quantum gates utilizing dark and bright states of molecules in dissipative cavities</h5>
            </a>
            <a href="../speakers/alexeybelyanin/" class="text-dark mx-3">
              <h5>Alexey Belyanin</h5>
            </a>
          </div> 
        </li>
        

        <li>
          <b>15:30 - 18:00</b> 
             <a>
              <h5>Poster Session</h5>
              Poster Prizes sponsored by Philosophical Magazine Part C, The Journal of Chemical Physics and APL Quantum.
            </a>
        </li>

      </ul>
    </div>

 <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
 <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
  <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapsePoster" role="button" aria-expanded="false" aria-controls="collapsePoster">
    <h1>MQT Posters</h1>
  </a>
</div>

  <div  class="row collapse" id="collapsePoster">
  <ul>

    <li class="mb-3">
      <b>P1.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/johantriana/" class="text-info">
          <h5>The electromagnetic vacuum enhances infrared photodissociation under strong light-matter coupling</h5>
        </a>
        <a href="../speakers/johantriana/" class="text-dark mx-3">
          <h5>Johan Triana</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P2.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/AthulSambasivan/" class="text-info">
          <h5>Manipulating the light-matter coupling of a plasmonic nanosphere and a dipole emitter with laser fields</h5>
        </a>
        <a href="../speakers/AthulSambasivan/" class="text-dark mx-3">
          <h5>Athul S. Rema</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P3.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/RubenDaraban/" class="text-info">
          <h5>Non-Unitarity Maximizing Unraveling of Open Quantum Dynamics</h5>
        </a>
        <a href="../speakers/RubenDaraban/" class="text-dark mx-3">
          <h5>Ruben Daraban</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P4.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/FelipeIsaule/" class="text-info">
          <h5>One-dimensional Bose Polarons across harmonically confined optical lattices</h5>
        </a>
        <a href="../speakers/FelipeIsaule/" class="text-dark mx-3">
          <h5>Felipe Isaule</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P5.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/rubenfritz/" class="text-info">
          <h5>Computational discovery and characterization of MOFs for chemical sensors coupled with fiber optics</h5>
        </a>
        <a href="../speakers/rubenfritz/" class="text-dark mx-3">
          <h5>Rubén Fritz</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P6.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/joaquinmolina/" class="text-info">
          <h5>Isomerization reactions in quantum computers</h5>
        </a>
        <a href="../speakers/joaquinmolina/" class="text-dark mx-3">
          <h5>Joaquin Molina</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P7.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/mateolondono/" class="text-info">
          <h5>Ultracold long-range Van der Waals Rydberg trimers</h5>
        </a>
        <a href="../speakers/mateolondono/" class="text-dark mx-3">
          <h5>Mateo Londoño</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P8.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/adrianrubio/" class="text-info">
          <h5>Stochastic resonant behaviours and steady state control in harmonic systems</h5>
        </a>
        <a href="../speakers/adrianrubio/" class="text-dark mx-3">
          <h5>Adrian Rubio</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P9.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/claudiareyes/" class="text-info">
          <h5>Diamond-based quantum sensing for free radical detection in cells and tissues</h5>
        </a>
        <a href="../speakers/claudiareyes/" class="text-dark mx-3">
          <h5>Claudia Reyes</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P10.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/michaelreitz/" class="text-info">
          <h5>Nonlinear semiclassical spectroscopy of ultrafast molecular polariton dynamics</h5>
        </a>
        <a href="../speakers/michaelreitz/" class="text-dark mx-3">
          <h5>Michael Reitz</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P11.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/pietrodechecchi/" class="text-info">
          <h5>Effects of Different Noise Environments on the Coherence Time of Open Quantum Systems</h5>
        </a>
        <a href="../speakers/PietrodeChecchi/" class="text-dark mx-3">
          <h5>Pietro de Checchi</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P12.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/michaelmichon/" class="text-info">
          <h5>Impact of Cavity Length Non-Uniformity on Reaction Rate Extraction in Strong Coupling Experiments</h5>
        </a>
        <a href="../speakers/michaelmichon/" class="text-dark mx-3">
          <h5>Michael Michon</h5>
        </a>
      </div>
    </li>

    <li class="mb-3">
      <b>P13.</b> 
      <div class="d-flex justify-content-start">
        <a href="../talks/niclasmuellerposter/" class="text-info">
          <h5>Sum-Frequency Spectro-Microscopy to Image Infrared Materials Excitations</h5>
        </a>
        <a href="../speakers/niclasmueller/" class="text-dark mx-3">
          <h5>Niclas Mueller</h5>
        </a>
      </div>
    </li>



  </ul>
</div> 


    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseTuesday" role="button" aria-expanded="false" aria-controls="collapseTuesday">
        <h1>Tuesday <small>17</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseTuesday">
      <ul>
        

        <li class="mb-3">
          <b>09:00 - 09:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/fernandoluis/" class="text-info">
              <h5>Circuit QED with Molecular Spin Qudits</h5>
            </a>
            <a href="../speakers/fernandoluis/" class="text-dark mx-3">
              <h5>Fernando Luis</h5>
            </a>
          </div> 
        </li>
        
        <li class="mb-3"></li>
        <b>09:40 - 10:00</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/katyaruachan/" class="text-info">
              <h5>Atomistic Decoherence of Molecular Spin Qubits</h5>
            </a>
            <a href="../speakers/katyaruachan/" class="text-dark mx-3">
              <h5>Katy Aruachan</h5>
            </a>
          </div> 
        </li>

        <li class="mb-3"></li>
        <b>10:00 - 10:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/ignaciofranco/" class="text-info">
              <h5>Mapping Decoherence Pathways in Molecules</h5>
            </a>
            <a href="../speakers/ignaciofranco/" class="text-dark mx-3">
              <h5>Ignacio Franco</h5>
            </a>
          </div> 
        </li>

        <li class="mb-3">
          <b>10:40 - 11:20</b> 
          <h5>Coffee Break</h5> 
        </li>
          
        <li class="mb-3">
          <b>11:20 - 12:00</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/jeffowrutsky/" class="text-info">
              <h5>The short life and times of vibrational polaritons</h5>
            </a>
            <a href="../speakers/jeffowrutsky/" class="text-dark mx-3">
              <h5>Jeffrey Owrutsky</h5>
            </a>
          </div> 
        </li>
        
        <li class="mb-3"></li>
        <b>12:00 - 12:20</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/luismarcassa/" class="text-info">
              <h5>Multiphoton dressed Rydberg excitations in a room temperature microwave cavity with ultracold Rb atoms</h5>
            </a>
            <a href="../speakers/luismarcassa/" class="text-dark mx-3">
              <h5>Luis Marcassa</h5>
            </a>
          </div> 
        </li>

        <li class="mb-3"></li>
        <b>12:20 - 12:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/tomaszantosiewicz/" class="text-info">
              <h5>Modification of hot carrier spectra in plasmon-molecule systems by
                optoelectronic strong coupling</h5>
            </a>
            <a href="../speakers/tomaszantosiewicz/" class="text-dark mx-3">
              <h5>Tomasz Antosiewicz</h5>
            </a>
          </div> 
        </li>
        
        <li class="mb-3">
          <b>12:40 - 14:00</b> 
             <h5>Group Picture and Lunch Break</h5> 
        </li>

        <li class="mb-3"></li>
        <b>14:00 - 14:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/anamariarey/" class="text-info">
              <h5>New frontiers in quantum simulation with dipolar gases</h5>
            </a>
            <a href="../speakers/anamariarey/" class="text-dark mx-3">
              <h5>Ana María Rey</h5>
            </a>
          </div> 
        </li>
    
        
        <li class="mb-3"></li>
        <b>14:40 - 15:20</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/sebastianwill/" class="text-info">
              <h5>Creating and exploring Bose-Einstein condensates of dipolar molecules</h5>
            </a>
            <a href="../speakers/sebastianwill/" class="text-dark mx-3">
              <h5>Sebastian Will</h5>
            </a>
          </div> 
        </li>
        
        <li class="mb-3">
          <b>15:20 - 16:00</b> 
          <h5>Coffee Break</h5> 
        </li>

        <li class="mb-3"></li>
        <b>16:00 - 16:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/christianekoch/" class="text-info">
              <h5>Quantum effects in controlled molecular dynamics</h5>
            </a>
            <a href="../speakers/christianekoch/" class="text-dark mx-3">
              <h5>Christiane Koch</h5>
            </a>
          </div> 
        </li>

        <li class="mb-3"></li>
        <b>16:40 - 17:20</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/weixiong/" class="text-info">
              <h5>Role of Delocalization to Polariton Chemistry</h5>
            </a>
            <a href="../speakers/weixiong/" class="text-dark mx-3">
              <h5>Wei Xiong</h5>
            </a>
          </div> 
        </li>


        <li class="mb-3"></li>
        <b>17:20 - 17:40</b> 
          <div class="d-flex justify-content-start">

            <a href="../talks/blakesimpkins/" class="text-info">
              <h5>Materials Design through Quantum Mechanical Coupling</h5>
            </a>
            <a href="../speakers/blakesimpkins/" class="text-dark mx-3">
              <h5>Blake Simpkins</h5>
            </a>
          </div> 
        </li>

        
        

        
      </ul>
    </div>
    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->

    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseWednesday" role="button" aria-expanded="false" aria-controls="collapseWednesday">
        <h1>Wednesday <small>18</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseWednesday">
      <ul>

        <li class="mb-3">
          <b>08:00 - 18:00</b>
          <a>
            <h5>MQT Group Excursion</h5>
          </a>
        
          
     <!--      <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/eugeniocoronado/" class="text-info">
              <h5>Molecular Spins for Quantum Technologies</h5>
            </a>
            <a href="https://mqt2022.org/speakers/EugenioCoronado/" class="text-dark mx-3">
              <h5>Eugenio Coronado</h5>
            </a>
          </div> 
        </li>-->

      

  <!--      <li class="mb-3">
          <b>15:00 - 15:20</b> 
           <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/ruthtichauer/" class="text-info">
              <h5>Strongly Coupled Organic Molecules: Insights from Atomistic MD Simulations</h5>
            </a>
            <a href="https://mqt2022.org/speakers/RuthTichauer/" class="text-dark mx-3">
              <h5>Ruth Tichauer</h5>
            </a>
          </div> 
        </li>-->
        
       

      </ul>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------------->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseThursday" role="button" aria-expanded="false" aria-controls="collapseThursday">
        <h1>Thursday <small>19</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseThursday">

    <li class="mb-3">
      <b>09:00 - 09:40</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/annettecarroll/" class="text-info">
          <h5>Tunable Spin Dynamics with Ultracold Polar Molecules</h5>
        </a>
        <a href="../speakers/annettecarroll/" class="text-dark mx-3">
          <h5>Annette Carroll</h5>
        </a>
      </div> 
    </li>
    
    <li class="mb-3">
    <b>09:40 - 10:00</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/feliperecabal/" class="text-info">
          <h5>Non-canonical steady state of two coupled oscillators in the strong coupling regime</h5>
        </a>
        <a href="../speakers/feliperecabal/" class="text-dark mx-3">
          <h5>Felipe Recabal</h5>
        </a>
      </div> 
    </li>

    <li class="mb-3">
    <b>10:00 - 10:40</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/giacomovaltolina/" class="text-info">
          <h5>Towards quantum control of complex cold molecules inside a cavity</h5>
        </a>
        <a href="../speakers/ignaciofranco/" class="text-dark mx-3">
          <h5>Giacomo Valtolina</h5>
        </a>
      </div> 
    </li>

    <li class="mb-3">
      <b>10:40 - 11:20</b> 
      <h5>Coffee Break</h5> 
    </li>
      

    <li class="mb-3">
    <b>11:20 - 12:00</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/ConstanzaToninelli/" class="text-info">
          <h5>Organic Molecules in Solids for Photonic Quantum Technologies</h5>
        </a>
        <a href="../speakers/ConstanzaToninelli/" class="text-dark mx-3">
          <h5>Costanza Toninelli</h5>
        </a>
      </div> 
    </li>

    <li class="mb-3">
    <b>12:00 - 12:40</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/janetanders/" class="text-info">
          <h5>Impact of system-bath coupling on a quantum system's steady state</h5>
        </a>
        <a href="../speakers/janetanders/" class="text-dark mx-3">
          <h5>Janet Anders</h5>
        </a>
      </div> 
    </li>

    <li class="mb-3">
      <b>12:40 - 14:00</b> 
          <h5>Lunch Break</h5>
    </li>


    <li class="mb-3">
    <b>14:00 - 14:40</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/matthewsheldon/" class="text-info">
          <h5>Plasmonic Platforms for Polaritonic Chemistry</h5>
        </a>
        <a href="../speakers/matthewsheldon/" class="text-dark mx-3">
          <h5>Matthew Sheldon</h5>
        </a>
      </div> 
    </li>


    <li class="mb-3">
    <b>14:40 - 15:00</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/michaelshatruk/" class="text-info">
          <h5>High-Symmetry Lanthanide Complexes as Clock-Transition Qubits</h5>
        </a>
        <a href="../speakers/michaelshatruk/" class="text-dark mx-3">
          <h5>Michael Shatruk</h5>
        </a>
      </div> 
    </li>


    <li class="mb-3">
    <b>15:00 - 15:20</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/herbertdiaz/" class="text-info">
          <h5>Variational Quantum Eigensolver for Estimating the Equilibrium Configuration of Molecules</h5>
        </a>
        <a href="../speakers/herbertdiaz/" class="text-dark mx-3">
          <h5>Herbert Díaz</h5>
        </a>
      </div> 
    </li>

    <li class="mb-3">
      <b>15:20 - 16:00</b> 
          <h5>Coffee Break</h5>
    </li>



    <li class="mb-3">
    <b>16:00 - 16:40</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/taoli/" class="text-info">
          <h5>A Tale of Two Methods for Simulating Molecular Polaritons</h5>
        </a>
        <a href="../speakers/taoli/" class="text-dark mx-3">
          <h5>Tao Li</h5>
        </a>
      </div> 
    </li>


    <li class="mb-3">
    <b>16:40 - 17:00</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/dennisclougherty/" class="text-info">
          <h5>Variational approach to atom-membrane dynamics</h5>
        </a>
        <a href="../speakers/dennisclougherty/" class="text-dark mx-3">
          <h5>Dennis Clougherty</h5>
        </a>
      </div> 
    </li>



    <li class="mb-3">
    <b>17:00 - 17:20</b> 
      <div class="d-flex justify-content-start">

        <a href="../talks/ruthtichauer/" class="text-info">
          <h5>Modelling Light-Matter Interactions with Atomic Resolution</h5>
        </a>
        <a href="../speakers/ruthtichauer/" class="text-dark mx-3">
          <h5>Ruth Tichauer</h5>
        </a>
      </div> 
    </li>


        <li class="mb-3">
          <b>18:30 - 20:00</b> 
              <h5>Conference Dinner </h5>
        </li>

      </ul>
    </div>

    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseFriday" role="button" aria-expanded="false" aria-controls="collapseFriday">
        <h1>Friday <small>20</small></h1>
      </a>
    </div>

    <div  class="row collapse" id="collapseFriday">
      <ul>

        <li class="mb-3">
          <b>09:00 - 12:40</b> 

          <a>
            <h5>Invited and Contributed Talks</h5>
          </a>
    <!--       <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/prinehanarang/" class="text-info">
              <h5>Ab initio approaches to molecular quantum matter and quantum information science</h5>
            </a>
            <a href="https://mqt2022.org/speakers/PrinehaNarang/" class="text-dark mx-3">
              <h5>Prineha Narang</h5>
            </a>
          </div> -->
        </li>


        <li class="mb-3">
          <b>12:40 - 14:00</b> 
               <h5> Lunch and Departure</h5> 
        </li>

      </ul>
    </div>

    
  </div>
</div>

{% include partials/footer.html %}
