{% include partials/header.html %}


<div class="text-center">
  <a type="button" style="background-color: #A9D9E3;" class="btn btn-outline-info btn-lg text-dark" href="../assets/abstracts.pdf" download>Download Book of Abstracts</a>
</div>

<div class="container pt-5">
  <div class="col ">
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseMonday" role="button" aria-expanded="false" aria-controls="collapseMonday">
        <h1>Monday <small>16</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseMonday"> 
      <ul>
        <li>
          <b>08:00 - 19:00</b> 
            <a href="https://mqt2022.org/talks/tourday/" class="text-info">
              <h5>Torres del Paine Tour Day</h5>
            </a>
        </li>
      </ul>
    </div>
    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseTuesday" role="button" aria-expanded="false" aria-controls="collapseTuesday">
        <h1>Tuesday <small>13</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseTuesday">
      <ul>
        

        <li class="mb-3">
          <b>09:20 - 10:00</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/kena-cohen/" class="text-info">
              <h5>Quantifying scattering rates in the electronic strong light-matter coupling regime</h5>
            </a>
            <a href="https://mqt2022.org/speakers/StephaneKena-Cohen/" class="text-dark mx-3">
              <h5>Stéphane Kéna-Cohen</h5>
            </a>
          </div>
        </li>

        
        <li class="mb-3">
          <b>10:00 - 10:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/joelyuenzhou/" class="text-info">
              <h5>Collective dynamics Using Truncated Equations (CUT-E) simulating the collective strong coupling regime with few-molecule models</h5>
            </a>
            <a href="https://mqt2022.org/speakers/JoelYuen/" class="text-dark mx-3">
              <h5>Joel Yuen-Zhou</h5>
            </a>
          </div>
        </li>
        
        <li class="mb-3">
          <b>10:40 - 11:20</b> 
            <h5>Coffee Break</h5>
        </li>
        <li class="mb-3">
          <b>11:20 - 12:00</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/kevinkubarych/" class="text-info">
              <h5>Vibrational Polariton Dynamics Probed with 2D-IR Spectroscopy</h5>
            </a>
            <a href="https://mqt2022.org/speakers/KevinKubarych/" class="text-dark mx-3">
              <h5>Kevin Kubarych</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:00 - 12:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/burakgurlek/" class="text-info">
              <h5>Engineering Organic Molecules with Long-Lived Quantum Coherence</h5>
            </a>
            <a href="https://mqt2022.org/speakers/BurakGurlek/" class="text-dark mx-3">
              <h5>Burak Gurlek</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:20 - 12:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/anaelben-asher/" class="text-info">
              <h5>Single-Photon Emission due to non-Hermitian Anharmonicity</h5>
            </a>
            <a href="https://mqt2022.org/speakers/AnaelBen-Asher/" class="text-dark mx-3">
              <h5>Anael Ben-Asher</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:40 - 14:00</b> 
              <h5>Lunch</h5>
        </li>

        <li class="mb-3">
          <b>14:00 - 14:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/blakesimpkins/" class="text-info">
              <h5>Suppressed reactivity via cavity-induced selective vibrational cooling</h5>
            </a>
            <a href="https://mqt2022.org/speakers/BlakeSimpkins/" class="text-dark mx-3">
              <h5>Blake Simpkins</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>14:40 - 15:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/joshcaldwell/" class="text-info">
              <h5>Strong Coupling and Extreme Anisotropy in Infrared Nanophotonics</h5>
            </a>
            <a href="https://mqt2022.org/speakers/JoshCaldwell/" class="text-dark mx-3">
              <h5>Josh Caldwell</h5>
            </a>
          </div>
        </li>


        <li class="mb-3">
          <b>15:20 - 17:20</b> 
          <div class="d-flex justify-content-start">
            <h5>Poster Session</h5>
          </div>
        </li>

      </ul>
    </div>
    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->

    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseWednesday" role="button" aria-expanded="false" aria-controls="collapseWednesday">
        <h1>Wednesday <small>14</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseWednesday">
      <ul>

        <li class="mb-3">
          <b>09:00 - 09:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/eugeniocoronado/" class="text-info">
              <h5>Molecular Spins for Quantum Technologies</h5>
            </a>
            <a href="https://mqt2022.org/speakers/EugenioCoronado/" class="text-dark mx-3">
              <h5>Eugenio Coronado</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>09:40 - 10:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/stephenhill/" class="text-info">
              <h5>Molecular Spin Clock Transitions</h5>
            </a>
            <a href="https://mqt2022.org/speakers/StephenHill/" class="text-dark mx-3">
              <h5>Stephen Hill</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>10:20 - 10:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/katyarauchan/" class="text-info">
              <h5>Semi-empirical spin-lattice relaxation models for molecular spin qubits in metal-organic frameworks</h5>
            </a>
            <a href="https://mqt2022.org/speakers/KatyArauchan/" class="text-dark mx-3">
              <h5>Katy Arauchan</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>10:40 - 11:20</b> 
            <h5>Coffee Break</h5>
        </li>

        <li class="mb-3">
          <b>11:20 - 12:00</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/danielaravena/" class="text-info">
              <h5>Spin Transport and Magnetoresistance in Inorganic Complexes</h5>
            </a>
            <a href="https://mqt2022.org/speakers/DanielAravena/" class="text-dark mx-3">
              <h5>Daniel Aravena</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:00 - 12:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/kaischwennicke/" class="text-info">
              <h5>Enantioselective Topological Frequency Conversion</h5>
            </a>
            <a href="https://mqt2022.org/speakers/Kaischwennicke/" class="text-dark mx-3">
              <h5>Kai Schwennicke</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:20 - 12:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/karolinaslowik/" class="text-info">
              <h5>Low-dimensional material structures with adatoms: how electron tunneling influences optical properties</h5>
            </a>
            <a href="https://mqt2022.org/speakers/KarolinaSlowik/" class="text-dark mx-3">
              <h5>Karolina Slowik</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:20 - 14:00</b> 
              <h5>Lunch</h5>
        </li>

        <li class="mb-3">
          <b>14:00 - 14:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/giladharan/" class="text-info">
              <h5>Plasmonic Cavities: Strong Coupling And Beyond</h5>
            </a>
            <a href="https://mqt2022.org/speakers/GiladHaran/" class="text-dark mx-3">
              <h5>Gilad Haran</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>14:40 - 15:00</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/markusraschke/" class="text-info">
              <h5>Quantum vibrational microscopy and sensing</h5>
            </a>
            <a href="https://mqt2022.org/speakers/MarkusRaschke/" class="text-dark mx-3">
              <h5>Markus Rashcke</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>15:00 - 15:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/ruthtichauer/" class="text-info">
              <h5>Strongly Coupled Organic Molecules: Insights from Atomistic MD Simulations</h5>
            </a>
            <a href="https://mqt2022.org/speakers/RuthTichauer/" class="text-dark mx-3">
              <h5>Ruth Tichauer</h5>
            </a>
          </div>
        </li>
        
        <li class="mb-3">
          <b>15:20 - 15:40</b> 
            <h5>Coffee Break</h5>
        </li>

        <li class="mb-3">
          <b>15:40 - 16:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/marissaweichman/" class="text-info">
              <h5>New Platforms for Polariton Reaction Dynamics</h5>
            </a>
            <a href="https://mqt2022.org/speakers/MarissaWeichman/" class="text-dark mx-3">
              <h5>Marissa Weichman</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>16:20 - 16:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/johantriana/" class="text-info">
              <h5>Controlling the infrared vacuum field via molecular polaritons in the strong coupling regime</h5>
            </a>
            <a href="https://mqt2022.org/speakers/JohanTriana/" class="text-dark mx-3">
              <h5>Johan Triana</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>16:40 - 17:00</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/chriscarson/" class="text-info">
              <h5>Defense support for Basic Science</h5>
            </a>
            <a href="https://mqt2022.org/speakers/ChrisCarson/" class="text-dark mx-3">
              <h5>Chris Carson</h5>
            </a>
          </div>
        </li>

      </ul>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------------->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseThursday" role="button" aria-expanded="false" aria-controls="collapseThursday">
        <h1>Thursday <small>15</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseThursday">
      <ul>
        <li class="mb-3">
          <b>09:00 - 09:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/hannahwilliams/" class="text-info">
              <h5>Laser Cooling Molecules</h5>
            </a>
            <a href="https://mqt2022.org/speakers/HannahWilliams/" class="text-dark mx-3">
              <h5>Hannah Williams</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>09:40 - 10:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/simoncornish/" class="text-info">
              <h5>Controlling ultracold RbCs molecules for applications in quantum technology</h5>
            </a>
            <a href="https://mqt2022.org/speakers/SimonCornish/" class="text-dark mx-3">
              <h5>Simon Cornish</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>10:20 - 10:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/giacomovaltolina/" class="text-info">
              <h5>Towards cavity-controlled ultracold chemistry</h5>
            </a>
            <a href="https://mqt2022.org/speakers/GiacomoValtolina/" class="text-dark mx-3">
              <h5>Giacomo Valtolina</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>10:40 - 11:20</b> 
            <h5>Coffee Break</h5>
        </li>

        <li class="mb-3">
          <b>11:20 - 12:00</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/michaltomza/" class="text-info">
              <h5>Quantum-chemical calculations for ultracold molecular physics experiments</h5>
            </a>
            <a href="https://mqt2022.org/speakers/MichalTomza/" class="text-dark mx-3">
              <h5>Michal Tomza</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:00 - 12:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/hosseinsadeghpour/" class="text-info">
              <h5>Few-body and many-body games in a quantum gas with Rydberg impurities</h5>
            </a>
            <a href="https://mqt2022.org/speakers/HosseinSadeghpour/" class="text-dark mx-3">
              <h5>Hossein Sadeghpour</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:40 - 14:00</b> 
              <h5>Lunch and Conference Picture</h5>
        </li>

        <li class="mb-3">
          <b>14:00 - 14:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/tijskarman/" class="text-info">
              <h5>Microwave shielding of ultracold molecules</h5>
            </a>
            <a href="https://mqt2022.org/speakers/TijsKarman/" class="text-dark mx-3">
              <h5>Tijs Karman</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>14:40 - 15:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/johannesschachenmayer/" class="text-info">
              <h5>Exploring the role of entanglement in disordered polaritonic chemistry</h5>
            </a>
            <a href="https://mqt2022.org/speakers/JohannesSchachenmayer/" class="text-dark mx-3">
              <h5>Johannes Schachenmayer</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>15:20 - 15:40</b> 
            <h5>Coffee Break</h5>
        </li>
        
        <li class="mb-3">
          <b>15:40 - 16:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/jianshucao/" class="text-info">
              <h5>Quantum coherence in vibrational polaritons; reactivity, cooperativity, and molecular coupling</h5>
            </a>
            <a href="https://mqt2022.org/speakers/JianshuCao/" class="text-dark mx-3">
              <h5>Jianshu Cao</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>16:20 - 16:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/shubhamjain/" class="text-info">
              <h5>Noise in quantum rigid rotors</h5>
            </a>
            <a href="https://mqt2022.org/speakers/ShubhamJain/" class="text-dark mx-3">
              <h5>Shubham Jain</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>18:20 - 20:00</b> 
              <h5>Conference Dinner</h5>
        </li>

      </ul>
    </div>

    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseFriday" role="button" aria-expanded="false" aria-controls="collapseFriday">
        <h1>Friday <small>16</small></h1>
      </a>
    </div>

    <div  class="row collapse" id="collapseFriday">
      <ul>

        <li class="mb-3">
          <b>09:00 - 09:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/prinehanarang/" class="text-info">
              <h5>Ab initio approaches to molecular quantum matter and quantum information science</h5>
            </a>
            <a href="https://mqt2022.org/speakers/PrinehaNarang/" class="text-dark mx-3">
              <h5>Prineha Narang</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>09:40 - 10:20</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/shaulmukamel/" class="text-info">
              <h5>Monitoring Coherences in Elementary Molecular Events by Ultrafast Nonlinear X-ray Spectroscopy</h5>
            </a>
            <a href="https://mqt2022.org/speakers/ShaulMukamel/" class="text-dark mx-3">
              <h5>Shaul Mukamel</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>10:20 - 10:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/jeffreyowrutsky/" class="text-info">
              <h5>Dynamics of Vibration-Cavity Polaritons: New Absorbers but the Same Interpretation</h5>
            </a>
            <a href="https://mqt2022.org/speakers/JeffreyOwrutsky/" class="text-dark mx-3">
              <h5>Jeffrey Owrutsky</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>10:40 - 11:20</b> 
            <h5>Coffee Break</h5>
        </li>

        <li class="mb-3">
          <b>11:20 - 12:00</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/abrahamnitzan/" class="text-info">
              <h5>Collective response in light-matter interaction: The interplay between strong coupling, local dynamics and disorderr</h5>
            </a>
            <a href="https://mqt2022.org/speakers/AbrahamNitzan/" class="text-dark mx-3">
              <h5>Abraham Nitzan</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:00 - 12:40</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/alexeybelyanin/" class="text-info">
              <h5>Quantum dynamics of molecules and quantum dots in dissipative nanocavities</h5>
            </a>
            <a href="https://mqt2022.org/speakers/AlexeyBelyanin/" class="text-dark mx-3">
              <h5>Alexey Belyanin</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>12:40 - 14:00</b> 
              <h5> Lunch and Departure</h5>
        </li>

      </ul>
    </div>

     <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
     <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapsePoster" role="button" aria-expanded="false" aria-controls="collapsePoster">
        <h1>Poster Session <small>Tuesday 13th, 15:20 hrs</small></h1>
      </a>
    </div>

    <div  class="row collapse" id="collapsePoster">
      <ul>

        <li class="mb-3">
          <b>P1.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/mauricioarias/" class="text-info">
              <h5>Nanocavity QED with molecular vibrations in the mid-infrared</h5>
            </a>
            <a href="https://mqt2022.org/speakers/MauricioArias/" class="text-dark mx-3">
              <h5>Mauricio Arias</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P2.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/mariabancereks/" class="text-info">
              <h5>Strong coupling effects in plasmonic-molecular systems</h5>
            </a>
            <a href="https://mqt2022.org/speakers/MariaBancereks/" class="text-dark mx-3">
              <h5>Maria Bancereks</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P3.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/edgarbarriga/" class="text-info">
              <h5>Non-adiabatic transitions in a diatomic molecule under a bichromatic laser field</h5>
            </a>
            <a href="https://mqt2022.org/speakers/EdgarBarriga/" class="text-dark mx-3">
              <h5>Edgar Barriga</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P4.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/rubenfritz/" class="text-info">
              <h5>IRMOF-1 for chemical sensing based in optical fibers</h5>
            </a>
            <a href="https://mqt2022.org/speakers/RubenFrtiz/" class="text-dark mx-3">
              <h5>Ruben Fritz</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P5.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/rosariogonzalezferez/" class="text-info">
              <h5>Polyatomic ultralong range Rydberg molecules</h5>
            </a>
            <a href="https://mqt2022.org/speakers/RosarioGonzalezFerez/" class="text-dark mx-3">
              <h5>Rosario González-Feréz</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P6.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/burakgurlekposter/" class="text-info">
              <h5>Quantum optics with organic molecules; cavity QED, optomechanics, and cooperativity</h5>
            </a>
            <a href="https://mqt2022.org/speakers/BurakGurlek/" class="text-dark mx-3">
              <h5>Burak Gurlek</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P7.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/felipeherrera/" class="text-info">
              <h5>Self-dissociation of polar molecules in a confined infrared vacuum</h5>
            </a>
            <a href="https://mqt2022.org/speakers/FelipeHerrera/" class="text-dark mx-3">
              <h5>Felipe Herrera</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P8.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/tomohiroishii/" class="text-info">
              <h5>Exciton-Polariton Condensation in Organic Microcavities: Polariton Relaxation and Polariton Dephasing Dynamics</h5>
            </a>
            <a href="https://mqt2022.org/speakers/TomohiroIshii/" class="text-dark mx-3">
              <h5>Tomohiro Ishii</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P9.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/kylekayris/" class="text-info">
              <h5>Quantum Energy Diffusion in Polaritonic Wires</h5>
            </a>
            <a href="https://mqt2022.org/speakers/KyleKayris/" class="text-dark mx-3">
              <h5>Kyle Kayris</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P10.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/feliperecabal/" class="text-info">
              <h5>Driven-dissipative change transport in small networks; negative conductance and light-induced currents</h5>
            </a>
            <a href="https://mqt2022.org/speakers/FelipeRecabal/" class="text-dark mx-3">
              <h5>Felipe Recabal</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P11.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/athulsambasivan/" class="text-info">
              <h5>Computational Macroscopic QED Framework for Vibrational Polaritons</h5>
            </a>
            <a href="https://mqt2022.org/speakers/AthulSambasivan/" class="text-dark mx-3">
              <h5>Athul Sambasivan</h5>
            </a>
          </div>
        </li>

      </ul>
    </div>

  </div>
</div>

{% include partials/footer.html %}
