{% include partials/header.html %}


<!-- <div class="text-center">
  <a type="button" style="background-color: #A9D9E3;" class="btn btn-outline-info btn-lg text-dark" href="../assets/abstracts.pdf" download>Download Book of Abstracts</a>
</div> -->

<main class="container border border-3 my-5 bg-white mandatory">
  
  <h1>Week Schedule </h1>
  
  <div class="row my-5 p-5">
            <img src="../assets/MQT 2024 schedule.png" class="float-center" alt="week schedule">  
  </div>
</main>

<h1>Day Schedule </h1>
<p>
  Expand the daily schedule by clicking the buttons below. Poster abstracts are listed a the end.
</p>

<div class="container pt-5">
  <div class="col ">
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseMonday" role="button" aria-expanded="false" aria-controls="collapseMonday">
        <h1>Monday <small>16</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseMonday"> 
      <ul>
        <li class="mb-3">
          <b>09:00 - 15:20</b> 
          <div class="d-flex justify-content-start">

            <a>
              <h5>Invited and Contributed Talks</h5>
            </a>
<!--             <a href="https://mqt2022.org/talks/kena-cohen/" class="text-info">
              <h5>Quantifying scattering rates in the electronic strong light-matter coupling regime</h5>
            </a>
            <a href="https://mqt2022.org/speakers/StephaneKena-Cohen/" class="text-dark mx-3">
              <h5>Stéphane Kéna-Cohen</h5>
            </a>-->
          </div> 
        </li>
        
        <li class="mb-3">
          <b>12:40 - 14:00</b> 
          <h5>Lunch</h5> 
        </li>
          
        

        <li class="mb-3">
          <b>14:00 - 15:20</b> 
          <div class="d-flex justify-content-start">

            <a>
              <h5>Invited and Contributed Talks</h5>
            </a>
<!--             <a href="https://mqt2022.org/talks/kena-cohen/" class="text-info">
              <h5>Quantifying scattering rates in the electronic strong light-matter coupling regime</h5>
            </a>
            <a href="https://mqt2022.org/speakers/StephaneKena-Cohen/" class="text-dark mx-3">
              <h5>Stéphane Kéna-Cohen</h5>
            </a>-->
          </div> 
        </li>


        <li>
          <b>15:20 - 18:00</b> 
             <a>
              <h5>Poster Session</h5>
              Poster Prizes sponsored by Philosophical Magazine Part C, The Journal of Chemical Physics and APL Quantum.
            </a>
        </li>

      </ul>
    </div>
    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseTuesday" role="button" aria-expanded="false" aria-controls="collapseTuesday">
        <h1>Tuesday <small>17</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseTuesday">
      <ul>
        

        <li class="mb-3">
          <b>09:00 - 12:40</b> 
          <div class="d-flex justify-content-start">

            <a>
              <h5>Invited and Contributed Talks</h5>
            </a>
<!--             <a href="https://mqt2022.org/talks/kena-cohen/" class="text-info">
              <h5>Quantifying scattering rates in the electronic strong light-matter coupling regime</h5>
            </a>
            <a href="https://mqt2022.org/speakers/StephaneKena-Cohen/" class="text-dark mx-3">
              <h5>Stéphane Kéna-Cohen</h5>
            </a>-->
          </div> 
        </li>

        
        <li class="mb-3">
          <b>12:40 - 14:00</b> 
             <h5>Lunch</h5> 
        </li>

        <li class="mb-3">
          <b>14:00 - 17:00</b> 

          <a>
            <h5>Invited and Contributed Talks</h5>
          </a>
     <!--      <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/blakesimpkins/" class="text-info">
              <h5>Suppressed reactivity via cavity-induced selective vibrational cooling</h5>
            </a>
            <a href="https://mqt2022.org/speakers/BlakeSimpkins/" class="text-dark mx-3">
              <h5>Blake Simpkins</h5>
            </a>
          </div> -->
        </li>

        
      </ul>
    </div>
    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->

    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseWednesday" role="button" aria-expanded="false" aria-controls="collapseWednesday">
        <h1>Wednesday <small>18</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseWednesday">
      <ul>

        <li class="mb-3">
          <b>08:00 - 18:00</b>
          <a>
            <h5>MQT Group Excursion</h5>
          </a>
        
          
     <!--      <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/eugeniocoronado/" class="text-info">
              <h5>Molecular Spins for Quantum Technologies</h5>
            </a>
            <a href="https://mqt2022.org/speakers/EugenioCoronado/" class="text-dark mx-3">
              <h5>Eugenio Coronado</h5>
            </a>
          </div> 
        </li>-->

      

  <!--      <li class="mb-3">
          <b>15:00 - 15:20</b> 
           <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/ruthtichauer/" class="text-info">
              <h5>Strongly Coupled Organic Molecules: Insights from Atomistic MD Simulations</h5>
            </a>
            <a href="https://mqt2022.org/speakers/RuthTichauer/" class="text-dark mx-3">
              <h5>Ruth Tichauer</h5>
            </a>
          </div> 
        </li>-->
        
       

      </ul>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------------->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseThursday" role="button" aria-expanded="false" aria-controls="collapseThursday">
        <h1>Thursday <small>19</small></h1>
      </a>
    </div>

    <div class="row collapse" id="collapseThursday">
      <ul>
        <li class="mb-3">
          <b>09:00 - 12:40</b> 
          <div class="d-flex justify-content-start">

            <a>
              <h5>Invited and Contributed Talks</h5>
            </a>
<!--             <a href="https://mqt2022.org/talks/kena-cohen/" class="text-info">
              <h5>Quantifying scattering rates in the electronic strong light-matter coupling regime</h5>
            </a>
            <a href="https://mqt2022.org/speakers/StephaneKena-Cohen/" class="text-dark mx-3">
              <h5>Stéphane Kéna-Cohen</h5>
            </a>-->
          </div> 
        </li>

        
        <li class="mb-3">
          <b>12:40 - 14:00</b> 
             <h5>Lunch</h5> 
        </li>

        <li class="mb-3">
          <b>14:00 - 17:00</b> 

          <a>
            <h5>Invited and Contributed Talks</h5>
          </a>
     <!--      <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/blakesimpkins/" class="text-info">
              <h5>Suppressed reactivity via cavity-induced selective vibrational cooling</h5>
            </a>
            <a href="https://mqt2022.org/speakers/BlakeSimpkins/" class="text-dark mx-3">
              <h5>Blake Simpkins</h5>
            </a>
          </div> -->
        </li>


        <li class="mb-3">
          <b>18:20 - 20:00</b> 
              <h5>Conference Dinner</h5>
        </li>

      </ul>
    </div>

    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapseFriday" role="button" aria-expanded="false" aria-controls="collapseFriday">
        <h1>Friday <small>20</small></h1>
      </a>
    </div>

    <div  class="row collapse" id="collapseFriday">
      <ul>

        <li class="mb-3">
          <b>09:00 - 12:40</b> 

          <a>
            <h5>Invited and Contributed Talks</h5>
          </a>
    <!--       <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/prinehanarang/" class="text-info">
              <h5>Ab initio approaches to molecular quantum matter and quantum information science</h5>
            </a>
            <a href="https://mqt2022.org/speakers/PrinehaNarang/" class="text-dark mx-3">
              <h5>Prineha Narang</h5>
            </a>
          </div> -->
        </li>


        <li class="mb-3">
          <b>12:40 - 14:00</b> 
               <h5> Lunch and Departure</h5> 
        </li>

      </ul>
    </div>

     <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
     <div class="row d-flex justify-content-center border border-info divRound p-2 my-3">
      <a class="btn btn-outline-info btn-lg text-dark buttonSchedule" data-bs-toggle="collapse" href="#collapsePoster" role="button" aria-expanded="false" aria-controls="collapsePoster">
        <h1>MQT Posters</h1>
      </a>
    </div>

   <!--  <div  class="row collapse" id="collapsePoster">
      <ul>

        <li class="mb-3">
          <b>P1.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/mauricioarias/" class="text-info">
              <h5>Nanocavity QED with molecular vibrations in the mid-infrared</h5>
            </a>
            <a href="https://mqt2022.org/speakers/MauricioArias/" class="text-dark mx-3">
              <h5>Mauricio Arias</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P2.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/mariabancereks/" class="text-info">
              <h5>Strong coupling effects in plasmonic-molecular systems</h5>
            </a>
            <a href="https://mqt2022.org/speakers/MariaBancereks/" class="text-dark mx-3">
              <h5>Maria Bancereks</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P3.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/edgarbarriga/" class="text-info">
              <h5>Non-adiabatic transitions in a diatomic molecule under a bichromatic laser field</h5>
            </a>
            <a href="https://mqt2022.org/speakers/EdgarBarriga/" class="text-dark mx-3">
              <h5>Edgar Barriga</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P4.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/rubenfritz/" class="text-info">
              <h5>IRMOF-1 for chemical sensing based in optical fibers</h5>
            </a>
            <a href="https://mqt2022.org/speakers/RubenFrtiz/" class="text-dark mx-3">
              <h5>Ruben Fritz</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P5.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/rosariogonzalezferez/" class="text-info">
              <h5>Polyatomic ultralong range Rydberg molecules</h5>
            </a>
            <a href="https://mqt2022.org/speakers/RosarioGonzalezFerez/" class="text-dark mx-3">
              <h5>Rosario González-Feréz</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P6.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/burakgurlekposter/" class="text-info">
              <h5>Quantum optics with organic molecules; cavity QED, optomechanics, and cooperativity</h5>
            </a>
            <a href="https://mqt2022.org/speakers/BurakGurlek/" class="text-dark mx-3">
              <h5>Burak Gurlek</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P7.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/felipeherrera/" class="text-info">
              <h5>Self-dissociation of polar molecules in a confined infrared vacuum</h5>
            </a>
            <a href="https://mqt2022.org/speakers/FelipeHerrera/" class="text-dark mx-3">
              <h5>Felipe Herrera</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P8.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/tomohiroishii/" class="text-info">
              <h5>Exciton-Polariton Condensation in Organic Microcavities: Polariton Relaxation and Polariton Dephasing Dynamics</h5>
            </a>
            <a href="https://mqt2022.org/speakers/TomohiroIshii/" class="text-dark mx-3">
              <h5>Tomohiro Ishii</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P9.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/kylekayris/" class="text-info">
              <h5>Quantum Energy Diffusion in Polaritonic Wires</h5>
            </a>
            <a href="https://mqt2022.org/speakers/KyleKayris/" class="text-dark mx-3">
              <h5>Kyle Kayris</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P10.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/feliperecabal/" class="text-info">
              <h5>Driven-dissipative change transport in small networks; negative conductance and light-induced currents</h5>
            </a>
            <a href="https://mqt2022.org/speakers/FelipeRecabal/" class="text-dark mx-3">
              <h5>Felipe Recabal</h5>
            </a>
          </div>
        </li>

        <li class="mb-3">
          <b>P11.</b> 
          <div class="d-flex justify-content-start">
            <a href="https://mqt2022.org/talks/athulsambasivan/" class="text-info">
              <h5>Computational Macroscopic QED Framework for Vibrational Polaritons</h5>
            </a>
            <a href="https://mqt2022.org/speakers/AthulSambasivan/" class="text-dark mx-3">
              <h5>Athul Sambasivan</h5>
            </a>
          </div>
        </li>

      </ul>
    </div> -->

  </div>
</div>

{% include partials/footer.html %}
