{% include partials/header.html %}

<h1 class="display-5 mb-4">
</h1>

{{ content }}

<div>
  <h1> Invited Speakers</h1>
  <br>

  {% assign speakers = site.speakers | sort_natural: 'last_name' %}
  <!-- Get the entire list of speakers from site.speakers-->
  {% for speaker in speakers %}

  {% if speaker.first_name != "Speaker" %}
    {% if speaker.status == "invited" %}
    
      {% assign last_letter = speaker.last_name | slice: 0 | capitalize %}
      <div class="speakergroup">
        <ul class="list-unstyled py-1">
          <li class="font-weight-light">
            <h5>
              <b>{{ speaker.first_name }} {{ speaker.last_name }}</b>, {{speaker.asociation}}
            </h5>
          </li>
          {% endif %}
          {% endif %}
    {% endfor %}
      </ul>
    </div>
<br>
<!-- ORGANIZERS SECTION -->
<h1>MQT 2022 Organizers</h1>
<div class="container">
  <div class="row">
    
    <div class="col-md-2 text-center ">
      <img src="../assets/organizers/RosarioGonzalesFeres.jpg" class="img-thumbnail" alt="RosarioGonzalesFeresPicture">
      <p><b>Rosario González-Férez</b>, University of Granada</p>
    </div>

    <div class="col-md-2 text-center">
      <img src="../assets/organizers/fherrera.jpg" class="img-thumbnail" alt="FelipeHerreraPicture">
      <p><b>Felipe Herrera</b>, University of Santiago de Chile </p>
    </div>
    
    <div class="col-md-2 text-center">
      <img src="../assets/organizers/SadrineHeutz.jpg" class="img-thumbnail" alt="SandrineHeutzPicture">
      <p><b>Sandrine Heutz</b>, Imperial College London</p>
    </div>
    
    <div class="col-md-2 text-center">
      <img src="../assets/organizers/JeffreyOwrutsky.jpg" class="img-thumbnail" alt="JeffreyOwrutskyPicture">
      <p><b>Jeffrey Owrutsky</b>, U.S. Naval Research Laboratory</p>
    </div>
    
    <div class="col-md-2 text-center ">
      <img src="../assets/organizers/MarkusRaschke.jpg" class="img-thumbnail" alt="MarkusRaschkePicture">
      <p><b>Markus Raschke</b>, University of Colorado Boulder</p>
    </div>
    
  </div>

</div>
</div>

{% include partials/footer.html %}
