{% include partials/header.html %}

  <h1 class="display-5 mb-4">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.lang[site.conference.lang].speaker.overview | default: "Speakers" }}
    {% endif %}
  </h1>

  {{ content }}

  <div class="speakerlist">
    {% assign cur_letter = false %}
    {% assign speakers = site.speakers | sort_natural: 'last_name' %}
    {% for speaker in speakers %}

      {% assign last_letter = speaker.last_name | slice: 0 | capitalize %}
      {% if cur_letter != last_letter %}
        {% if cur_letter %}
            </ul>
          </div>
        {% endif %}

        {% assign cur_letter = last_letter %}
        <div class="speakergroup">
          <h3>{{null}}</h3>
          <ul class="list-unstyled">
      {% endif %}

      <li class="font-weight-light">
        <div class="card text-white bg-secondary mb-3 border border-dark" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1607988795691-3d0147b43231?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Speaker Image">
          <div class="card-body">
            <h5 class="card-title">{{ speaker.first_name }} {{ speaker.last_name }} </h5>
            <p class="card-text">Some quick description about the speaker</p>
            <a href="{{ speaker.url | prepend: site.baseurl }}" class="btn btn-primary">
            Speaker Details
          </a>
          </div>
        </div>
      </li>
    {% endfor %}

      </ul>
    </div>
  </div>

{% include partials/footer.html %}
